body{
  background-image: url("https://i.ibb.co/pWbZB7p/IMG-20231213-175008.jpg");no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
height: 100%;  }

  html {
  height: 100%;
  
}
  

  

   
    mark.pink{
 background-color:#FF00BA59
    }
mark.bleu{
  background-color: #0795FF8F
}

a{ color: #004689D9 }